.icons-row {
  display: flex;
  justify-content: space-between;
  padding: 0 25px 25px;
}
.icons-row--second-row {
  width: 35%;
}   /* 나중에 연구해보기 */
.icons-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons-row__icon i {
  font-size: 35px;
}
.icons-row__icon span {
  margin-top: 20px;
}
